.directory-button {
  background-color: transparent;
  border: none;
  color: floralwhite;
  font-size: 1.1em;
  margin-top: 2px;
  margin-bottom: 2px;
}

.directory-button:hover {
  cursor: pointer;
}

.file-folder-container {
  margin: 0;
  padding: 0;
}

.file-folder-title {
  margin: 0;
  padding: 0;
  font-size: 1.05em;
}

.file-folder-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.file-folder-list-item {
  margin: 0;
  padding: 0;
}