.top-tab {

    padding-top: 15px;
    padding-bottom: 15px;
    color: floralwhite;
    font-family: 'Futura', serif;
    display: flex;
    justify-content: center;

    height: 20px;

    background:transparent;
    align-items: center;
    position:absolute;
    z-index:10;


    transition: background 0.3s ease;
}
.top-tab > * {
    margin-left: 40px;
    margin-right: 40px;
}

.top-tab > p:hover {
    cursor:pointer;
}

.first-drop {
    margin-left:120px;
}

.title{
    font-size:1.5em;
}