.top-tab {

    padding-top: 15px;
    padding-bottom: 15px;
    color: floralwhite;
    font-family: 'Futura', serif;
    display: flex;
    justify-content: center;

    height: 20px;
    align-items: center;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    transition: background 0.3s ease;
}
.top-tab > * {
    margin-left: 40px;
    margin-right: 40px;
}

.first-drop {
    margin-left:120px;
}

.title{
    font-size:1.5em;
}