.top-tab {
    background: floralwhite;

    padding-top: 15px;
    padding-bottom: 15px;
    color: floralwhite;
    font-family: 'Futura', serif;
    display: flex;
    justify-content: center;

    height: 20px;
    align-items: center;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    transition: background 0.3s ease;
}
.top-tab > * {
    margin-left:40px;
    margin-right:40px;
    background: linear-gradient(to bottom, rgba(76, 175, 80, 0.3) 0%, rgba(60, 117, 68, 0.2) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.first-drop {
    margin-left:120px;
}
