.file-button {
    background-color:transparent;
    border:none;
    color: rgba(255, 255, 255, 0.6);

}

.file-button:hover {
    cursor:pointer;
}

.file-container-1 {
    margin-top:20px;
    margin-bottom:20px;
    background-color:black;
    border:1px solid rgba(255, 255, 255, 0.12);
    border-radius:17px;
    color:floralwhite;
    width:480px;
    padding-left: 10px;
    padding-right:10px;
    padding-bottom:10px;
}

.file-container-1 > p > a:link {
  color:floralwhite;
}

.file-container-1 > p > a:visited {
  color: #4CAF50;
}

.git {
    font-family: 'Futura', serif;
}

.bulletless {
    list-style-type: none;
}

.file-path-li {
    margin:0;
    font-size:75%;
    color: rgba(255, 255, 255, 0.6);
}

.file-name {
    margin-top:0;
    margin-bottom:0;
}

.commit-container {
    position:relative;
    z-index:2;
}
