.commit-container {
    position:absolute;
    justify-content:center;
    display:flex;
    z-index:2;
    margin-top:175px;
    width:100%;
    pointer-events:none;
}

.commit {
    pointer-events:auto;
}

.graph-container {
    position:absolute;
    z-index:1;
}
