.container-1 {
  margin: 1rem;
}

.searchbars-container-1 {
  display: flex;
  gap: 0.5rem;
}

.unstyled-clear-1 {
  background: none;
  border: none;
  cursor: pointer;
}

.input {
  color: #fff;
  background-color: #000;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0.5rem;
  border-radius: 4px;
  outline: none;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff !important;

  box-shadow: 0 0 0 1000px #000 inset !important;

  transition: background-color 5000s ease-in-out 0s !important;
}

.commit-container {
    position: absolute;
    justify-content: center;
    display: flex;
    z-index: 2;
    margin-top: 175px;
    width: 100%;
    pointer-events: none;
}

.commit {
    pointer-events: auto;
}

.graph-container {
    position: absolute;
    z-index: 1;
    background-color: black;
}

.background {
    background-color: slategrey;
    width: 100vw;
}

.node:hover .node-circle {
  fill: rgb(31, 31, 31) !important;
    cursor: pointer;
}

.node text:focus {
  outline: none;
    cursor: pointer;
}