.info-sheet-container {
  width: 580px;

    color:floralwhite;

    justify-self:center;


    border:1px solid rgba(255, 255, 255, 0.12);

  border-radius:10px;

    background-color:black;

    padding-right: 10px;

    padding-left:10px;

    overflow-wrap: break-word;
}

.files-list {

}
.files-list > a:link {
  color:floralwhite;
}


.git {
    font-family: 'Futura', serif;
  margin-top:5px;
}

.sha {
  margin-bottom:0;
  font-size:75%;
  color: rgba(255, 255, 255, 0.6)
}

.title {
    margin-top:0;
    margin-bottom:0;
}

.person {
  margin-top:2px;
}

.info {
  margin-bottom:0;
  font-size:75%;
  color: rgba(255, 255, 255, 0.6);
}

.divider {
  margin-top:0;
  margin-bottom:0;
}

.stopping-person {
  margin-bottom:0;
  margin-top:2px;
}

.top-stat {
  margin-bottom:5px;
}

.bottom-stat {
  margin-top:0;
  margin-bottom:0;
}

.x {
  margin-left:auto;
  font-size:300%;
  margin-top:0;
  margin-bottom:5px;
  border:none;
  background-color:transparent;
  color:floralwhite;
}

.x:hover {
  cursor:pointer;
}
